#contacto {
    .seccion1 {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: x-large;
        @include color-main(#d8dbe2);
        padding: 3rem;
    }

    .seccion2 {
        display: flex;
        align-items:center;
        font-size: large;
        @include color-main(#d8dbe2);
        padding: 3rem;
        padding-left: 15rem;

        textarea {
            width: 400px;
            height: 400px;
        }

        h2 {
            @extend %titulos;
            padding-left:10rem ;
        }

        iframe {
            padding-left: 10rem;
        }
    }

    @media (max-width: 520px) {
        .seccion2 {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left: 2rem;
            textarea {
                width: 300px;
                height: 300px;
            }
            h2{
                padding-right: 10rem;
            }
            iframe {
                width: 600px;
                height: 400px;
                padding-right: 10rem;
            }
        }
    }
}