#index {
    .seccion1 {
        display: flex;
        padding: 5rem;
        @include color-main(#d8dbe2);
        img {
            @extend %imagenesIndex;
        }

        h2 {
            @extend %titulos;
        }
    }

    .seccion2 {
        display: flex;
        flex-direction: column;
        padding: 5rem;
        @include color-main(#d8dbe2);
        h2 {
            @extend %titulos;
        }

        .imagen2 {
            img {
                @extend %imagenesIndex;
            }
        }
   
    }
    
}